In [ ]:
print("Welcome to Google Colab!")

Welcome to Google Colab!

In [ ]:
print("\"Welcome to Google Colab!\"") #includes quotation marks

"Welcome to Google Colab!"

In [ ]:
"hello" #no need to write print always

'hello'

In [ ]:
120/12*2-4

16.0

In [ ]:
(5-2)*10

30

In [ ]:
marks = 80
marks

80

In [ ]:
type(marks)

int

In [ ]:
3**4 #power function

81

In [ ]:
price = 50.5
price
type(price)#only shows output of last line that's why we use print

float

In [ ]:
price = 50.5
print(price)
type(price)#only shows output of last line that's why we use print

50.5

float

In [ ]:
name = "sakshi"
type(name)

str

In [ ]:
dir(str) #all methods that can be applied on string are shown
#__dunder/magic commands that python uses internally

In [ ]:
str1 = "Welcome to Data Science"
str1.capitalize()#only first letter will be capitalized #sentence case

'Welcome to data science'

In [ ]:
str1

'Welcome to Data Science'

In [ ]:
str1.upper()

'WELCOME TO DATA SCIENCE'

In [ ]:
str1.lower()

'welcome to data science'

In [ ]:
str1.title()

'Welcome To Data Science'

In [ ]:
food="pAnIPuRi"
name="SaKshi"
print(food.swapcase())
print(name.swapcase())

PaNipUrI
sAkSHI

In [ ]:
s1 = "My name is Sakshi."
print(s1.split())#list of strings is created
s2 = "Kolhapur-Pune-Kolhapur"
s2.split("-")#does not split if the delimiter is not specified

['My', 'name', 'is', 'Sakshi.']

['Kolhapur', 'Pune', 'Kolhapur']

In [ ]:
mail = "sakshi@gmail.com"
mail.split("@")

['sakshi', 'gmail.com']

In [ ]:
s1

'My name is Sakshi.'

In [ ]:
s1.replace("Sakshi", "Krishn")

'My name is Krishn.'

In [ ]:
#single line comment
'''
multiple line comment
'''

'\nmultiple line comment\n'

In [ ]:
city = "Satara"
city.count("a")

3

In [ ]:
"Satara".count("a")

3

In [ ]:
name = "Ram "
name*4

'Ram Ram Ram Ram '

In [ ]:
n1 = 5
n1*7

35

In [ ]:
name = "S"
surname ="J"
name + surname #concatenates without space

'SJ'

In [ ]:
name + " " + surname

'S J'

In [ ]:
#Conditional Statement
a =130
b =250
if a>b:
  print("a is greater")
  print("In True Block")
else:
  print("b is greater")
  print("In False Block")
  c = a*b
  print(c)

b is greater
In False Block
32500

In [ ]:
a =1200
b =300
if(a>b):
  print(a,"is greater")
else:
  print("Greater number is:",b)

1200 is greater

In [ ]:
salary = 25000
if(salary>20000):
  tax=0.25
  print("Hello from true if")
else:
  tax=0.20
  print("Hello from false if/else")
print("Bye....outside of if block")
net_sal = salary-tax*salary
print("Net Salary=",net_sal)

Hello from true if
Bye....outside of if block
Net Salary= 18750.0

In [ ]:
range(5,10)

range(5, 10)

In [ ]:
#For loop
for i in range(5,10):
  print(i)
print("Bye")

5
6
7
8
9
Bye

In [ ]:
for i in range(1,11,2): #increment of 2
  print(i)

1
3
5
7
9

In [ ]:
for i in range(2,21,2):
  print(i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
for i in range(1,20,2):
  print(i)

1
3
5
7
9
11
13
15
17
19

In [ ]:
#'break' statement terminates the loop when condition is satisfied
for i in range(1,11):
  if i==5:
    print("Same")
    break
  else:
    print(i)

1
2
3
4
Same

In [ ]:
for num in range(11):
  print(num, num*num)
#prints the number and it's square from 1 to 10

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100

In [ ]:
#range(start,stop,step)
for i in range(1,30,5):
  print(i)
  #print(i,"@")

1
6
11
16
21
26

In [ ]:
subject = "Science"
for i in subject:
  print(i)

S
c
i
e
n
c
e

In [ ]:
#print name 3 times on first line, 4 times on 2nd, 5 - 3rd, 6 - 4th line
name = "Sakshi "
for i in range(3,7):
  print(name*i)
'''
name = "Sakshi"
for i in range(3,7):
  x = (name + " ")*i
  print(x)
'''

Sakshi Sakshi Sakshi
Sakshi Sakshi Sakshi Sakshi
Sakshi Sakshi Sakshi Sakshi Sakshi
Sakshi Sakshi Sakshi Sakshi Sakshi Sakshi

In [ ]:
name = "Sakshi"
for i in range(3,7):
  x = (name + " ")*i
  print(x)

Sakshi Sakshi Sakshi
Sakshi Sakshi Sakshi Sakshi
Sakshi Sakshi Sakshi Sakshi Sakshi
Sakshi Sakshi Sakshi Sakshi Sakshi Sakshi

In [ ]:
#print each letter of movie on separate line
m = "movie"
for i in m:
  print(i)

m
o
v
i
e

In [ ]:
movie = "Drishyam"
for letter in movie:
  #print(letter)
  #print(letter.swapcase())
  print(letter.swapcase(),end = " ~ ")

d ~ R ~ I ~ S ~ H ~ Y ~ A ~ M ~

In [ ]:
for i in range(1,11):
  if i%2==0:
    print("Even Number:",i)
  else:
    print("Odd Number:",i)

Odd Number: 1
Even Number: 2
Odd Number: 3
Even Number: 4
Odd Number: 5
Even Number: 6
Odd Number: 7
Even Number: 8
Odd Number: 9
Even Number: 10

In [ ]:
print("Odd Numbers:")
for i in range(1,11):
  if i%2!=0:
    print(i)
print("Even Numbers:")
for i in range(1,11):
  if i%2==0:
    print(i)

Odd Numbers:
1
3
5
7
9
Even Numbers:
2
4
6
8
10

In [ ]:
status1 = True
type(status1)

bool

In [ ]:
status2 = False
type(status2)

bool

In [ ]:
name = "Data Science"
for i in name:
  print(i*4, end=" - ")

DDDD - aaaa - tttt - aaaa -      - SSSS - cccc - iiii - eeee - nnnn - cccc - eeee -

In [ ]:
len("My Name")#length including space

7

In [ ]:
len("Sakshi")

6

In [ ]:
#DATA STRUCTURES

In [ ]:
#DATA STRUCTURES: 1.LIST
#Lists are mutable
#created using square brackets []
marks = [40,55,70,60,80,85,78]
marks

[40, 55, 70, 60, 80, 85, 78]

In [ ]:
type(marks)

list

In [ ]:
dir(list)

In [ ]:
len(marks)

7

In [ ]:
new_marks = sorted(marks) #creates new sorted list
new_marks

[40, 55, 60, 70, 78, 80, 85]

In [ ]:
marks.sort() #sorts the original list in ascending order by default
marks

[40, 55, 60, 70, 78, 80, 85]

In [ ]:
marks.append(35) #will add the element in the last
marks

[40, 55, 60, 70, 78, 80, 85, 35]

In [ ]:
marks.reverse()
marks

[35, 85, 80, 78, 70, 60, 55, 40]

In [ ]:
marks2 =[42,64,50,78,87,80]

In [ ]:
marks2.sort(reverse=True) #sorts in decending order when reverse=True
marks2

[87, 80, 78, 64, 50, 42]

In [ ]:
marks3=[40,60,50,70,80,85]
marks3.sort(reverse=False) #no need to write reverse=False as by default it will sort the list in ascending order
marks3

[40, 50, 60, 70, 80, 85]

In [ ]:
marks

[35, 85, 80, 78, 70, 60, 55, 40]

In [ ]:
90 in marks #checks whether 90 is present in marks

False

In [ ]:
85 in marks

True

In [ ]:
list1=[10,20,30]
list2=[40,50,60]
list1+list2 #Concatenates the two lists

[10, 20, 30, 40, 50, 60]

In [ ]:
(list1+list2)*3 #repeats list1+list2 3 times

[10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60]

In [ ]:
#List of strings
list3 = ["Mango", "Apple", "Banana", "Pineapple","Custard Apple", "Strawberry"]
list3

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [ ]:
for fruit in list3:
  print(fruit.upper())
  #print(fruit.upper(), end=",")
  #print(fruit.replace("u","a"), end=" ")

MANGO
APPLE
BANANA
PINEAPPLE
CUSTARD APPLE
STRAWBERRY

In [ ]:
#In python indexing starts at 0
list3

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [ ]:
list3[0]

'Mango'

In [ ]:
list3.count("Banana")

1

In [ ]:
#list3[6] #will raise an error as indices are up to 5 only

In [ ]:
list3[5]

'Strawberry'

In [ ]:
#Slicing
list3[0:4] #first 4 elements #0,1,2,3

['Mango', 'Apple', 'Banana', 'Pineapple']

In [ ]:
list3[1:] #from 1 to end
#or list3[1:6]

['Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [ ]:
list3[:4]

['Mango', 'Apple', 'Banana', 'Pineapple']

In [ ]:
#Negative Indexing: starts indexing from R.H.S instead of L.H.S
list3[-1] #-1 refers to last element

'Strawberry'

In [ ]:
list3[-3]

'Pineapple'

In [ ]:
list3[-6]

'Mango'

In [ ]:
#start stop step in slicing
print(list3)
list3[::2] #start, end, step 2

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

['Mango', 'Banana', 'Custard Apple']

In [ ]:
#n1 = [1:31] #will raise error as it does not accepts the range directly

In [ ]:
#instead do this
n1 = list(range(1,31))
print(n1,end=" ")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [ ]:
n1 = list(range(1,31,2))
print(n1, end=" ")

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [ ]:
n1[::4] #prints the elements from n1 from start to end with step value of 4

[1, 9, 17, 25]

In [ ]:
n1

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30]

In [ ]:
n1[2:27:5]

[3, 8, 13, 18, 23]

In [ ]:
print(list3)

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [ ]:
list3[::-1] #reverse order

['Strawberry', 'Custard Apple', 'Pineapple', 'Banana', 'Apple', 'Mango']

In [ ]:
list3[::-2] #from end of list with step/decrement value -2

['Strawberry', 'Pineapple', 'Apple']

In [ ]:
#use of 'in' keyword: search substring in given word
'the' in 'Netherland'

True

In [ ]:
'there' in 'Netherland'

False

In [ ]:
list3 = ["Mango", "Apple", "Banana", "Pineapple", "Custard Apple", "Strawberry"]

In [ ]:
list3.append("Mulberry")

In [ ]:
list3

['Mango',
 'Apple',
 'Banana',
 'Pineapple',
 'Custard Apple',
 'Strawberry',
 'Mulberry']

In [ ]:
list3.remove("Mulberry")#removes mentioned element

In [ ]:
list3

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [ ]:
for fruit in list3:
  if 'berry' in fruit:
    print(fruit)

Strawberry

In [ ]:
for fruit in list3:
  if 'pple' in fruit:
    print(fruit)

Apple
Pineapple
Custard Apple

In [ ]:
for fruit in list3:
  if not 'berry' in fruit:
    print(fruit)

Mango
Apple
Banana
Pineapple
Custard Apple

In [ ]:
list3.append("Mulberry")

In [ ]:
list3

['Mango',
 'Apple',
 'Banana',
 'Pineapple',
 'Custard Apple',
 'Strawberry',
 'Mulberry',
 'Mulberry']

In [ ]:
list3.remove("Mulberry")

In [ ]:
list3

['Mango',
 'Apple',
 'Banana',
 'Pineapple',
 'Custard Apple',
 'Strawberry',
 'Mulberry']

In [ ]:
list4 =[]
list5 =[]
for fruit in list3:
  if "berry" in fruit:
    list4.append(fruit)
  else:
    list5.append(fruit)
print(list4, end=" ")
print(list5, end=" ")

['Strawberry', 'Mulberry'] ['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple']

In [ ]:
#print squares of all numbers in list1 and list2
l1 =[2,3,4,5,6]
l2 =[]
for i in l1:
  l2.append(i*i) #or i**2
print(l1)
print(l2)

[2, 3, 4, 5, 6]
[4, 9, 16, 25, 36]

In [ ]:
#list comprehension - makes your code compact
l1 =[2,3,4,5,6]
l2 =[i**2 for i in l1]#the last/result part should be written first
print(l1)
print(l2)

[2, 3, 4, 5, 6]
[4, 9, 16, 25, 36]

In [ ]:
newlist = [fruit for fruit in list3 if 'berry' in fruit]
newlist

['Strawberry', 'Mulberry']

In [ ]:
newlist1 = [fruit for fruit in list3 if not 'berry' in fruit]
newlist1

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple']

In [ ]:
city = ["Kolhapur","Solapur","Pune", "Mumbai", "Satara", "Thane"]
newlistpur =[i for i in city if 'pur' in i]
newlistpur

['Kolhapur', 'Solapur']

In [ ]:
list3.index('Mango')

0

In [ ]:
#list3.index('Orange')#will raise an error

In [ ]:
#Lists are mutable - you can replace items of list
list3[2] = "Orange"
list3

['Mango',
 'Apple',
 'Orange',
 'Pineapple',
 'Custard Apple',
 'Strawberry',
 'Mulberry']

In [ ]:
#DATA STRUCTURES: 2.TUPLE

In [ ]:
#Tuples are not mutable i.e immutable
#created using round brackets

In [ ]:
t1 = (1,2,3,4,5)
t1

(1, 2, 3, 4, 5)

In [ ]:
type(t1)

tuple

In [ ]:
t1[0]

1

In [ ]:
#t1[0]=7 #will raise an error as tuples are immutable

In [ ]:
t3 = t1+(6,7,8,9,10)
t3

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
dir(t1)

In [ ]:
t1.count(1)#we have passed element not index

1

In [ ]:
t1.count(2)

1

In [ ]:
t1.index(4)

3

In [ ]:
t2 =(1,1,1,2,2,6,6,6,6,6)

In [ ]:
t2.count(6)

5

In [ ]:
#indexing and slicing with tuple is same as list
#extracting elements of tuple
t1[2]

3

In [ ]:
t1

(1, 2, 3, 4, 5)

In [ ]:
t1[1:5]

(2, 3, 4, 5)

In [ ]:
t1[3:]

(4, 5)

In [ ]:
#DATA STRUCTURES: 3.DICTIONARY

In [ ]:
#Dictionaries are used to store the data in key:value pairs
#A dictionary is a collection which is ordered, changeable and do not allow duplicates
#Dictionaries are written with curly brackets {"key":"value"} and have keys and values
#Here, keys are unique identifiers that are associated with each value

In [ ]:
capital_dict={"Nepal": "Kathmandu", "Italy":"Rome", "England":"London"}
print(capital_dict)

{'Nepal': 'Kathmandu', 'Italy': 'Rome', 'England': 'London'}

In [ ]:
type(capital_dict)

dict

In [ ]:
dir(capital_dict) #or dir(dict)

In [ ]:
#access element of dictionary
capital_dict["England"] #pass the key as there is no index for dictionary

'London'

In [ ]:
#capital_dict["London"]#will raise an error as london is a value

In [ ]:
keys = capital_dict.keys() #keys() method extracts the keys of the dictionary and returns the list of keys
keys

dict_keys(['Nepal', 'Italy', 'England'])

In [ ]:
capital_dict.keys()

dict_keys(['Nepal', 'Italy', 'England'])

In [ ]:
values = capital_dict.values() #values() method returns a view object that displays a list of all the values
values

dict_values(['Kathmandu', 'Rome', 'London'])

In [ ]:
capital_dict.values()

dict_values(['Kathmandu', 'Rome', 'London'])

In [ ]:
capital_dict.items() #items() method returns a view object that displays a list of dictionary's (key, value) tuple pairs

dict_items([('Nepal', 'Kathmandu'), ('Italy', 'Rome'), ('England', 'London')])

In [ ]:
add_capital= {"India": "Delhi", "abc": "xyz"}
capital_dict.update(add_capital) #update() method updates the dictionary with the elements from another dictionary object

In [ ]:
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'Delhi',
 'abc': 'xyz'}

In [ ]:
capital_dict.update({"Australia":"Sydney"})
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'Delhi',
 'abc': 'xyz',
 'Australia': 'Sydney'}

In [ ]:
capital_dict.pop("Australia")#pop() method removes the element and returns an element having the given key

'Sydney'

In [ ]:
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'Delhi',
 'abc': 'xyz'}

In [ ]:
capital_dict['abc']="Mumbai" #changes the value with given value #dictionaries are mutable

In [ ]:
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'Delhi',
 'abc': 'Mumbai'}

In [ ]:
capital_dict.popitem() #removes last key:value pair from dictionary and returns that pair
#it removes the last item by default
#while pop() removes the specified element

('abc', 'Mumbai')

In [ ]:
capital_dict

{'Nepal': 'Kathmandu', 'Italy': 'Rome', 'England': 'London', 'India': 'Delhi'}

In [ ]:
#Dictionary values can be of different data types/it can be composed of different data structures like list, tuple, and even dictionary
mylist = ["Mango", "Orange", "Strawberry", "Banana", "Mulberry", "Black Berry"]

In [ ]:
mytuple=(20,53,45,78,89,65,97)

In [ ]:
mydict={"A":mylist,
        "B":mytuple,
        "C":capital_dict
        }
mydict

{'A': ['Mango', 'Orange', 'Strawberry', 'Banana', 'Mulberry', 'Black Berry'],
 'B': (20, 53, 45, 78, 89, 65, 97),
 'C': {'Nepal': 'Kathmandu',
  'Italy': 'Rome',
  'England': 'London',
  'India': 'Delhi'}}

In [ ]:
mydict['A']

['Mango', 'Orange', 'Strawberry', 'Banana', 'Mulberry', 'Black Berry']

In [ ]:
mydict['C']

{'Nepal': 'Kathmandu', 'Italy': 'Rome', 'England': 'London', 'India': 'Delhi'}

In [ ]:
mydict['A'][2]#pass the index in second bracket

'Strawberry'

In [ ]:
#mydict['C'][3]#will raise an error as dictionaries don't have indices pass key instead

In [ ]:
mydict['C']['Italy']

'Rome'

In [ ]:
#Math Functions : can import specific functions or all using *
#sqrt(25) #will raise an error as this is not imported

In [ ]:
from math import sqrt
sqrt(25)

5.0

In [ ]:
from math import factorial
factorial(5)

120

In [ ]:
from math import * #to import all the functions
sin(90)

0.8939966636005579

In [ ]:
cos(0)

1.0

In [ ]:
tan(45)

1.6197751905438615

In [ ]:
listnew = [5,2,3]
prod(listnew) #or prod([10,20,30])

30

In [ ]:
#if you write import math you have to access every function using math.func()
#also you can write import math as mt => mt.prod()
import math
math.prod([10,20,30])

6000

In [ ]:
dir(math)